footer {
	width: 100%;
	min-height: 20vh;
	background-color: #999696;
}

footer h2 {
	padding-left: 20px; 
	padding-top: 20px;
}

footer p {
	width: 80%;
	padding-left: 40px;
	padding-top: 20px;
	font-size: 1.8vh;
	font-family: helvetica;
}

footer .DocumentsContainer {
	padding-left: 40px;
	padding-top: 20px; 
}

footer .DocumentsContainer .Image {
	width: 2vh;
	height: 2vh;
	padding-right: 10px;
}

footer .DocumentsContainer a {
	color: black;
}

.CentralPhoto {
	height: 22vh;
	width: 22vh;
	border-radius: 50%;
}

.Title {
	padding: 20px;
	font-size: 4vh;
	color: #202020;
}

.Subtitle {
	margin-bottom: 5%;
	padding: 20px;
	color: #202020;
	font-size: 2.5vh;
}

@media screen and (orientation:landscape) and (max-width: 1000px) {
	footer p {
		font-size: 3vh;
	}

	footer .DocumentsContainer .Image {
		width: 5vh;
		height: 5vh;
	}

	.CentralPhoto {
		height: 40vh;
		width: 40vh;
	}

	.Title {
		font-size: 8vh;
	}

	.Subtitle {
		font-size: 5vh;
	}

}